
header{
    background: url(/img/mickey.jpg);
    background-size: cover;
    background-position: center;
    color:#fff;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    padding:1rem 0;
}

h1{
    text-shadow: 0 5px 15px rgb(0, 0, 0);
    color: rgb(119, 205, 236);
    text-align: center;
    padding: 2rem;
    font-family: 'Monofett', cursive;
}

footer{

    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align:center;
    background:rgb(37, 0, 48);
    color:#fff;
}